.chatboxout {
    font-family: open sans;
    font-size: 12px;
    line-height: 17px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 20px -1px rgba(59, 59, 59, 0.6);
    -moz-box-shadow: 4px 4px 20px -1px rgba(59, 59, 59, 0.6);
    box-shadow: 4px 4px 20px -1px rgba(59, 59, 59, 0.6);
    border-radius: 10px;
  }


  
/*Clearing Floats*/
.cf:before, .cf:after{
  content:"";
  display:table;
}

.cf:after{
  clear:both;
}

.cf{
  zoom:1;
}    
/* Form wrapper styling */

.search-wrapper {
  width: 450px;
  margin: 100px auto 50px auto;
  border-radius: 40px;
background: transparent;
  box-shadow: 0 4px 20px -2px #e9e9e9;
}

/* Form text input */

.search-wrapper input {
padding-left: 20px;
  width: 230px;
  height: 40px;
  padding: 10px 5px;
  float: left;   
  font: bold 13px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;
  background: #fff;
  border-radius: 40px;
  border-top-style: none;
}

.search-wrapper input:focus {
  outline: 0;
  background: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
 color: #999;
 font-weight: normal;
 font-style: italic;
padding-left: 20px;
}

.search-wrapper input:-moz-placeholder {
  
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
border-style: none;
}   

/* Form submit button */
.search-wrapper button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 60px;
  width: 110px;
  font: 13px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
  color: #fff;
  text-transform: uppercase;
  background: #198cff;
  border-radius: 40px;
  text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  

.search-wrapper button:hover{    
  background: #e54040; 
}  

.search-wrapper button:active,
.search-wrapper button:focus{  
  background: #198cff;
  outline: 0;  
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before{
      border-right-color: #c42f2f;
}     

.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}  

.button-two {
  float: none;
  border-radius: 4px;
  background-color:#2dc7ee;
  border: none;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
}


.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: white;
}

.button-two span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-two:hover span {
  padding-right: 25px;
}

.button-two:hover span:after {
  opacity: 1;
  right: 0;
}


  